{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}::{{ post.title }}{% endblock %}

{% block content %}
    <div class="article-container">
        <div class="main-heading">
            <h1>{{post.title}}</h1>
        </div>
        <div class="by-date">
            <div class="article-by">
                <i class="far fa-user"></i>
                {{post.author}}
            </div>
            <div class="article-date">
                <i class="far fa-clock"></i>
                {{post.created_at|date:'D d M Y'}}
            </div>
        </div>

        <div class="article-img">
            <img src="{{post.image.url}}" alt="Image">
        </div>


        <div class="article-text">
            <div class="article-text-box">
                {{post.content}}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {% if request.user.is_superuser %}
                <a href="{% url 'delete_post' pk=post.pk %}" class="btn btn-danger m-3 ">Delete post</a>
            {% endif %}
            {% if request.user == post.author.user %}
                <a href="{% url 'update_post' pk=post.pk %}" class="btn btn-primary m-3">Update post</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3 align="center" style="margin: 10px 0;">Users Comments</h3>
                {% for comment in comments %}
                <div class="media-list my-3">
                    <div class="media-body">
                        <img class="avatar avatar-xs rounded-circle mr-3" style="height: 50px;" src="{% static 'profile.png' %}" alt="user">
                        <div class="small-1 mt-3">
                            <strong>User: {{comment.user.username}}</strong>
                            <time class="ml-4 opacity-70 small-3">{{comment.date|date:'D d M Y'}}</time>
                        </div>
                        <p class="mt-2">{{comment.content}}</p>
                    </div>
                </div>
                {% empty %}
                <p class="mt-4">No comments...</p>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'post_details' pk=post.pk %}">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-primary btn-block" type="submit">Comment</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}